<body>
    <nav class="navbar navbar-default">
        <div class="container nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">Eat-Da-Burger!!</div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="btn-link"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-lg-6 col-md-6">
        {{#each burgers}}
            {{#unless this.devoured}}
                {{!--undevoured burgers go here on the left side of the page--}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title quote">
                            <p>{{this.id}}</p>
                        </div>
                        <h4>{{this.burger_name}}</h4>
                        <form action="/{{this.item_id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value=1>
                            <button type="submit">Devour it!</button>
                        </form>
                    </div>
                </div>
            {{/unless}}
        {{/each}}
        </div>
        <div class=" col-lg-6 col-md-6">
        {{#each burgers}}
            {{#if this.devoured}}
                {{!--devoured burgers go here on right side of page--}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title quote">
                            <p>{{this.id}}</p>
                        </div>
                        <h4>{{this.burger_name}}</h4>
                        <form action="/uneat/{{this.item_id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value=0>
                            <button type="submit">Hurl it up!</button>
                        </form>
                    </div>
                </div>
            {{/if}}
        {{/each}}
        </div>
    </div> {{!-- end right container --}}

    <footer id="footer">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy;2017 Eat-Da-Burger. All Rights Reserved.</p>
                </div>
                <div class="col-md-4">
                    <p>Developed by <a href="https://github.com/amesmr">Matt Ames</a></p>
                </div>
                <div class="col-md-2">
                    <p><a href="/">Home</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
